html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("bgi.png");
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; 
  text-align: center;/* Vertically center the text there */
  background-color: #353A3D;
}
table, th, td {
     border-collapse: collapse;
     border: 1px solid black;
     text-align: center;
     -webkit-text-fill-color: white;
     text-decoration-line: black;
     text-decoration-color: red;
}
 table {
     border-collapse: collapse;
     width:100%;
}
 td, th {
     border: 1px solid #ced4da;
     padding: 0.5rem;
     text-align: left;
}
 th {
     font-weight: bold;
}
.selected {
            background-color: #e79416;
            color: #FFF;
}